<IfModule mod_rewrite.c>
  <IfModule mod_negotiation.c>
  	Options -MultiViews -Indexes
  </IfModule>

  RewriteEngine On

  # Handle Authorization Header
  RewriteCond %{HTTP:Authorization} .
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  # Redirect Trailing Slashes If Not A Folder...
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} (.+)/$
  RewriteRule ^ %1 [L,R=301]

  # Send Requests To Front Controller...
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.php [L]

  # Bloquer l'accès à htaccess
  <FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh)$">
    Order Allow,Deny
    Deny from all
  </FilesMatch>

  # Prévention hotlinking, modifier example.com pour votre url
  <IfModule mod_rewrite.c>
    RewriteCond %{HTTP_REFERER} !^$
    RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?horaires1.clientsvl.xyz [NC]
    RewriteRule \.(gif|jpe?g?|png!|svg)$ - [NC,F,L]
  </IfModule>

  # Exiger SSL
  <IfModule mod_rewrite.c>
    RewriteCond %{HTTPS} off
    RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
  </IfModule>

  <IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=63072000;
    includeSubDomains"
    Header always set X-FRAME-OPTIONS "DENY"
    Header always set X-Content-Type-Options "nosniff"
    Header set X-XSS-Protection "1; mode=block"
    Header set Referrer-Policy "no-referrer"
    Header set Cross-Origin-Embedder-Policy "require-corp"
    Header set Cross-Origin-Opener-Policy "same-origin"
    Header set Cross-Origin-Resource-Policy "same-origin"
    Header set Cache-Control "no-store, max-age=0"
  </IfModule>
</IfModule>
